.ChildEdge {
  background-color: rgb(0,0,0,0);
  position: static;
}
.Node {
  width: 2rem;
  height: 2rem;
  border-radius: 2rem;
  border: 1px solid green;
  background: darkgrey;
  /*
   align-items: center;
   justify-content: center;
   */
   margin-top: 2rem;
   margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.SubTree {
  border: 1px solid blue;
}

.NodeChildren {
  align-items: center;
  display: flex;
}
